@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:100,300,400,500,700,900&display=swap');

a.nav-link, a.navbar-brand {
    outline: 0;
}

.content {
    padding-top: 3rem;
}

.content-spacer {
    padding-top: 1.5em;
}

.header {
    border-bottom: 1px solid #bebebe;
}

.header > h1 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 32pt;
    margin: 0.5em 0 0 0;
}
.header > h2 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 22pt;
    color: #bebebe;
    margin: 0.5em 0 1em 0;
}
