<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/main.css" />
        {% block head %}
            <title>VectroSpective - {% block pagetitle %}{% endblock %}</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script defer src="/js/solid.min.js"></script>
        <script src="/js/fontawesome.min.js"></script>

    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if is_current_url('home.show') %}active{% endif %}"><a class="nav-link" href="{{ url_for('home.show') }}">Home</a></li>
                <li class="nav-item {% if is_current_url('retrospective.show') %}active{% endif %}"><a class="nav-link" href="{{ url_for('retrospective.show') }}">Retrospective</a></li>
                <li class="nav-item {% if is_current_url('example.show') %}active{% endif %}"><a class="nav-link" href="{{ url_for('example.show') }}">Example</a></li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="{{ url_for('home.show') }}">Vectrospective</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

            <ul class="navbar-nav ml-auto">
                <a href="#" class="nav-link" data-toggle="dropdown" data-target="#submenu-settings"><i class="fa fa-cog"></i></a>
                <div class="dropdown-menu dropdown-menu-right" id="submenu-settings">
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Dark mode</a>
                    <a href="#" class="dropdown-item">Something</a>
                    <div class="dropdown-divider"></div>
                    <a href="#"class="dropdown-item">Trash</a>
                </div>

                <a href="#" class="nav-link" data-toggle="dropdown" data-target="#submenu-user"><i class="fa fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right" id="submenu-user">
                    <a href="#" class="dropdown-item">Inbox</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                    <a href="#" class="dropdown-item">Sent Items</a>
                    <div class="dropdown-divider"></div>
                    <a href="#"class="dropdown-item">Trash</a>
                </div>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="content">
            <div class="header">
                <h1>{% block title %}{% endblock %}</h1>
                <h2>{% block subtitle %}{% endblock %}</h2>
            </div>
            <div class="content-spacer" ></div>
        {% block content %}{% endblock %}
        </div>
    </main>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>

<footer>
    <div id="footer">
        {% block footer %}
            License MIT 2020 by <a href="https://gitlab.com/xarxer/vikingretro">The Two Geeks</a>.
        {% endblock %}
    </div>
</footer>
</html>