{% extends "base.twig" %}

{% block pagetitle %}Example{% endblock %}

{% block title %}Example{% endblock %}
{% block subtitle %}This is an example page{% endblock %}

{% block content %}


{% endblock %}