{% extends "base.twig" %}

{% block pagetitle %}Home{% endblock %}

{% block title %}VikingRetro{% endblock %}
{% block subtitle %}Retrospective notes manager{% endblock %}

{% block content %}
    {{ testvar }}
    {{ res }}
{% endblock %}