{% extends "base.twig" %}

{% block pagetitle %}Retrospectives{% endblock %}

{% block title %}Retrospectives{% endblock %}
{% block subtitle %}Contemplate past ideas{% endblock %}

{% block content %}


{% endblock %}